body {
    width: 100%;
    margin: auto;
    font-family: "Arial";
}

header {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:hover{
    color: darkorange;
}

.div-right {
  width: 60%;
    margin: auto;
    align-items: end;
}

nav {
    align-items: end;
}

.div-left {
    width: 40%;
    margin-left: 2%;
}

.div-center {
    text-align: center;
    margin: auto;
}

.titleEnd {
    color: darkorange;
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 2%;
}

ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin-left: 20px;
}


main {
    margin: 10px 10px 10px 10px;
}

img {
    max-width: 800px;
}


.postSection {
    margin: auto;
    padding: 20px;
}



footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
}

.center {
    margin: auto;
    width: 100%;
}