body {
    width: 90%;
    margin: auto;
    font-family: Cambria;
    background-image: url("images/background.jpg");
}

.header {
    margin: auto;
    width: 100%;
}

.title {
    margin: auto;
    background-color: darkviolet;
    border-radius: 5px;
    padding: 10px;
}

.title {
    margin-left: 0px;
}

nav {
    color: black;
    font-weight: bold;
    height: 30px;
    background-color: white;
    vertical-align: center;
    border-radius: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin-left: 10px;
}

.postSection {
    margin: auto;
    padding: 20px;
}



footer {
    position: fixed;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 90%;
    height: 50px;
    background-color: darkviolet;
    color: white;
    border-radius: 5px;
}

.center {
    margin: auto;
    width: 100%;
}