<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <div class="div-left">
        <h1>LE BLOG DE L'ESPACE<span class="titleEnd">.</span></h1>
    </div>
    <div class="div-right">
        <nav>
            <ul>
                <li><span class="titleEnd"><a href="/">ACCUEIL</a></span></li>
                <li><a href="/about">A PROPOS</a></li>
                <li><a href="/blog/page-0">MES ARTICLES</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    {{ content | safe }}
</main>

<footer>
    <div class="div-center">
        <p><a href="https://github.com/idirdroid/">Retrouvez-moi sur Github</a></p>
    </div>
</footer>
</body>
</html>
